<h1 class="title">Login</h1>

<%= form_for @user, url: '/sessions', method: 'post' do |f| %>
<div class="row">
  <div class="col-sm-5">
  </div>
  <div class="col-sm-2">
    <%= f.text_field :username, placeholder: "Username", class: "form-control" %>
  </div>
</div>
<div class="row">
  <div class="col-sm-5">
  </div>
  <div class="col-sm-2">
    <%= f.password_field :password, placeholder: "Password", class: "form-control" %>
  </div>
</div>
  <%= f.submit "Log In", class: "btn btn-info" %>
<% end %>
