<% if current_user %>
<nav><%= current_user.name %>(<%= current_user.id %>)<a href="/logout" class="btn btn-info"><strong>Logout</strong></a></nav>
<% else %>
<nav>Already have a list?<a href="/login" class="btn btn-info"><strong>Login</strong></a></nav>
<% end %>
<div class="row">
  <h1>My Wish List</h1>
  <a href="/signup" class="btn btn-danger">Create List</a>
  </br>
</div>


Total users:<%= @users.length %>
